{
  "accounts": [
    {
      "id": 1,
      "handle": "twitter_username_lo",
      "kucoin_uid": "12345678",
      "proxy": "",
      "cookies": {
        "auth_token": "ISI_AUTH_TOKEN_DISINI",
        "ct0": "ISI_CT0_DISINI"
      }
    },
    {
      "id": 2,
      "handle": "twitter_username_acc2",
      "kucoin_uid": "87654321",
      "proxy": "http://user:pass@host:port",
      "cookies": {
        "auth_token": "ISI_AUTH_TOKEN_DISINI",
        "ct0": "ISI_CT0_DISINI"
      }
    }
  ]
}
